body{
    font: 20px Arial serif;
}

.navbar {
    background: #98b98d;
    
}

.quem-somos{
    background-color: #3b607e;
    color: white;
    
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    padding: 80px 1px;
    background-color: #477296;
}